src/Client/Service References/QueryServices/QueryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.cuttingedge.it/solid/queryservice/v1.0" elementFormDefault="qualified" targetNamespace="http://www.cuttingedge.it/solid/queryservice/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>