src/Client/Service References/CommandServices/CommandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.Commands.Orders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.Commands.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/CommandService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9999/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract.DTOs" />
  <xs:complexType name="CreateOrderCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedOrderId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contract.DTOs" minOccurs="0" name="ShippingAddress" nillable="true" type="q1:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderCommand" nillable="true" type="tns:CreateOrderCommand" />
  <xs:complexType name="ShipOrderCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipOrderCommand" nillable="true" type="tns:ShipOrderCommand" />
</xs:schema>